<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" contents="<%=csrfToken%>">
    <link rel="stylesheet" href="./css/styles.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>
        <%=title%>
    </title>
    <script>
        const token = document.querySelector('meta[name="csrf-token"]').getAttribute('content')
        const updateElection = (id, completed) => {
            fetch(`/elections/${id}`, {
                method: "PUT",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify({
                    "_csrf": token,
                    "completed": completed
                }),
            })
                .then((data) => {
                    window.location.reload();
                })
                .catch((err) => console.error(err))
        }

        const deleteElection = (id) => {
            fetch(`/elections/${id}`, {
                method: "DELETE",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({
                    "_csrf": token
                })
            })
                .then((data) => {
                    window.location.reload()
                })
        }
    </script>
</head>

<body>
    <div class="flex justify-center">
        <div class="w-[300px]">
            <%- include('header.ejs')%>
                <p class=" text-xl pb-2">Welcome to "Vote it out"</p>
                <p class="text-xl">New here?
                <div class="py-2 w-full">
                    <a href="/signup"
                        class="text-lg text-center block font-bold ease-in-out duration-300 text-white rounded py-2 px-2 bg-blue-600 hover:bg-blue-800 w-full ">Sign
                        up now</a>
                </div>
                </p>
                <p class="text-xl">Already an user?
                <div class="py-2 w-full">
                    <a href="/login"
                        class="text-lg text-center block font-bold ease-in-out duration-300 text-white rounded py-2 px-2 bg-blue-600 hover:bg-blue-800 w-full ">Login
                        now</a>
                </div>
                </p>
        </div>
    </div>
</body>

</html>