body {
  /* color: grey; */
  background-color: white;
  /* font-family: "Courier New", Courier, monospace; */
}

.election-item:hover .results-icon {
  color: green;
  display: block;
}

.election-item:hover .stop-icon {
  color: red;
  display: block;
}

.election-item:hover .delete-icon {
  display: block;
}
